{% extends 'logout.html' %}

{% block body %} 
<form action="/make_reservation" method="POST">

    <h2>Make a reservation:</h2>

    <div>
        <p>Date</p>
        <input type="date" name="date">
    </div>
    <p>Enter an optional time range and we will only show appointments in that range. Please keep in mind that all appointments are 30 minutes long when selecting a time.</p>
    <div>
        <p>Start time:</p>
        <input type="time" step="2" min="8:00" max="16:30" name="start-time">
        <p>End time:</p>
        <input type="time" step="2" min="8:30" max="17:00" name="end-time">
    </div>

    <button type="submit"
            class="text-md text-white bg-gradient-to-br from-purple-300 to-blue-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            Search
        </button>

</form>

{% endblock %}
